* {
    cursor: url(img/cursor.png), default;
}
:root {
    --sea: rgb(30, 30, 59);
    --snow: rgb(228, 235, 255);
}
::selection {
    background: var(--snow);
    color: var(--sea);
}
@font-face {
    font-family: "Domine";
    src: url("fonts/Domine.ttf");
}
html {
    scrollbar-color: var(--snow) transparent;
    scrollbar-width: auto;
}
body {
    background: url("img/mall.png");
    background-size: cover;
    font-family: "Domine";
    color: var(--snow);
}
hr {
    color: 1.5px solid var(--snow);
}
a {
    color: plum;
}
a:hover {
    cursor: url(img/hover2.png), pointer;
}
nav ul {
    list-style: none;
    padding-left: 25px;
}
nav ul li {
    list-style-type: "➜ ";
}
nav ul li a {
    transition: 0.2s;
    margin-left: 0;
}
nav ul li a:hover {
    padding-left: 15px;
}
.wrapper {
    max-width: 1000px;
    display: flex;
    margin: auto;
    height: auto;
}
.box {
    background: rgba(10, 8, 24, 0.534);
    border: 1.5px solid var(--snow);
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}
.box:first-of-type {
    width: 20%; 
    border-right: none;
}
.box:last-of-type {
    width: 80%;
}
.title:first-of-type {
    border-bottom: 1.5px solid var(--snow);
    padding: 5px;
}
@media screen and (max-width:800px) {
    #reisen {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }
    .imgcenter {
        display: inline;
    }
}