* {
    cursor: url(img/cursor.png), default;
}
:root {
    --sea: rgb(10, 8, 24);
    --snow: rgb(228, 235, 255);
}
::selection {
    background: var(--snow);
    color: var(--sea);
}
@font-face {
    font-family: "Atkinson-Hyperlegible";
    src: url("fonts/Atkinson.ttf");
}
html {
    scrollbar-color: var(--snow) transparent;
    scrollbar-width: auto;
}
body {
    font-family: "Atkinson-Hyperlegible";
}
hr {
    color: 1.5px solid var(--snow);
}
a {
    text-decoration: none;
}
a:hover {
    cursor: url(img/hover2.png), pointer;
}
.wrapper {
    display: flex;
    margin: auto;
    height: auto;
}
.box {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}
.box:first-of-type {
    width: 20%; 
    border-right: none;
}
.box:last-of-type {
    width: 80%;
}
.title:first-of-type {
    border-bottom: 1.5px solid var(--snow);
    padding: 5px;
}
@media screen and (max-width:800px) {
    .box:first-of-type {
        width: 30%;
    }
    .box:last-of-type {
        width: 70%;
    }
}