:root {
    --main: #dd533b;
    --light: rgb(226, 220, 254);
}
body {
    background: url(../img/Autumnal.png);
    background-size: cover;
    color: var(--light);
}
.box {
    background: rgba(17, 8, 24, 0.534);
}
a {
    color: var(--main);
}
a:hover:not(nav ul li a) {
    background: var(--main);
    color: var(--sea);
}
a:active {
    color: var(--main);
}